// #49b83e green

.container {
  font-family: "Verdana", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 32px;
  background: white;
  min-width: fit-content;
  box-sizing: border-box;

  .header {
    position: relative;
    margin: auto 30px;
    min-height: 140px;
    text-align: center;
    .categories {
      margin-bottom: 20px;
      font-family: "Roboto", sans-serif;
      font-size: 8px;
      font-weight: 700;
      letter-spacing: 1px;
      vertical-align: top;
      color: #49b83e;
      li {
        display: inline-block;
        margin-bottom: 3px;
        vertical-align: top;
        &:last-child {
          a {
            &:after {
              content: "";
            }
          }
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #24af30;
          &:after {
            content: "\B7";
            display: inline-block;
            font: 15px/9px "Roboto", sans-serif;
            font-weight: 700;
            margin: 0 2px;
            vertical-align: top;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .title {
      font: 50px "Roboto", sans-serif;
      font-weight: 900;
      max-width: 800px;
      margin: 0 auto 35px;
    }
  }
  .info {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    .infoItem {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      position: relative;
      &:nth-child(2) {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: -30px;
          width: 1px;
          height: 100%;
          background: #b8b8b8;
        }
      }
      &:last-child {
        margin-left: 30px;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        margin-right: 11px;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        text-transform: none;
      }
      button {
        background: none;
        outline: none;
        height: 30px;
        border: 1px solid #24af30;
        border-radius: 3px;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        transition: 0.2s;
        span {
          font: 10px "Roboto", sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        &:hover {
          background: #24af30;
          color: white;
        }
      }
    }
  }
  .imageContainer {
    position: relative;
    margin: 0 auto;
    max-height: 522px;
    margin-bottom: 40px;
    max-width: 620px;
    background: #f7f7f7;
    img {
      width: 100%;
    }
  }
  .autorContainer {
    width: 600px;
    max-width: 620px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 15px;
    padding: 15px 28px;
    border: 1px solid #b8b8b8;
    text-align: left;
    p {
      position: absolute;
      top: -15px;
      padding: 0 12px;
      font: 10px/1 "Roboto", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      background: #fff;
      transform: translateX(-50%);
      left: 50%;
    }
    span {
      position: absolute;
      display: block;
      font: 14px Roboto, sans-serif;
      width: 60%;
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
  }

  .descriptionContainer {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 50px;
    font-size: 18px;
    line-height: 33px;
    border: 1px solid #b8b8b8;
    padding: 40px 20px 0 20px;
    position: relative;
    .descriptionTitle {
      display: inline-block;
      line-height: 38px;
      text-transform: uppercase;
      font-family: PT Serif, Georgia, serif;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 50px;
      background: #fff;
      position: absolute;
      top: -38px;
      padding: 0 12px;
      left: 5%;
    }
    ul {
      margin: 0;
      padding: 0;
      .recipeStep {
        margin-bottom: 45px;
        display: table;
        padding: 0;
        .stepImage {
          display: inline-block;
          width: 434px;
          margin-right: 40px;
          vertical-align: top;
          float: left;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .instructionContainer {
          overflow: hidden;
          text-align: left;
          .stepLabel {
            font: 14px/2 PT Serif, Georgia, serif;
            font-weight: 700;
            padding-right: 15px;
          }
          .instruction {
            font: 14px/2 PT Serif, Georgia, serif;
            white-space: normal;
            width: 444px;
          }
        }
      }
    }
  }
}
