.pseudoInput {
  display: flex;
  background: white;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  height: 40px;
  margin-top: 16px;
  border: 1px solid grey;
  border-radius: 5px;

  input,
  textArea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    padding: 0 10px;
    margin: auto 0;
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px rgb(35, 206, 35);
  }
  &:focus-within {
    border-color: rgb(40, 196, 35);
    box-shadow: 0 0 0 1px rgb(248, 248, 248);
  }
}
.combinedInput {
  display: inline-flex;
  vertical-align: middle;
  border-right: 1px solid grey;
  flex: 2;
  padding-right: 10px;
}
