body {
  background: #f2f2f2;
  font: 14px/2 "PT" Serif, Georgia, serif;
  padding: 0 140px;
}

ul {
  list-style: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 150px 0;
}
