.container {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  min-width: fit-content;
  position: relative;
  padding: 70px 32px;
  box-sizing: border-box;
  .searchContainer {
    padding: 0 100px;
  }
  .searchResults {
    position: relative;
    min-height: 350px;
    @keyframes spin {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    .loader {
      border: 6px solid #d6d2d2;
      border-top: 6px solid #49b83e;
      border-radius: 50%;
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      animation: spin 2s linear infinite;
    }
    .notFound {
      margin: 100px auto;
      .notFoundMessage {
        margin: 0 auto;
        p {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          max-width: 300px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .notFoundImage {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100px;
        img {
          width: 100%;
        }
      }
    }
  }
}
